@font-face {
	font-family: phetsarath_ot;
    src: url(fonts/phetsarath_ot.woff2);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body,h1,h2,h3,h4,h5,h6,p,div,span,button,hr{
	font-family: phetsarath_ot;
	padding: 2px;
	margin: 2px;
	vertical-align: middle;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
table tr th,
table tr td{
	padding: 3px !important;
	margin: 3px !important;
	font-size: 10px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
	width: 210mm;
	min-height: 297mm;
	margin: 10px auto;
	padding: 5mm;
	border: 1px solid #ccc;
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
    position: relative;
    padding-bottom: 40px;
}
p {
	text-align: justify;
	font-size: 10px;
}
div.card-div{
	background-color: #cfe2f3;
}
div.div-insure_info{
	vertical-align: top;
	width: 16.66%;
}
.placeholder{
	padding-top:20px;
	width: 40px;
}
p.insure_info{
	font-size: 10px;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 5mm;
    right: 5mm;
    width: calc(100% - 10mm);
}
footer, p{
	font-size:8px;
}


@media print {
	@page {
		size: A4;
		margin: 20mm;
	}
    body {
        margin: 0;
    }
    .page {
        page-break-after: always;
        width: 210mm;
        min-height: 297mm;
        padding: 5mm;
        box-sizing: border-box;
        position: relative;
        padding-bottom: 40px;
    }
    .page:last-child {
        page-break-after: auto;
    }
    footer {

        position: absolute;
        bottom: 5px;
        left: 5mm;
        right: 5mm;
        width: calc(100% - 10mm);
    }
	footer, p{
		font-size:8px;
	}
}
